body {
    box-sizing: border-box;
    margin: 0px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    flex-direction: column;
}

@media (min-width: 1000px) {
    body {
        flex-direction: row;
    }

    #controls-container {
        flex: 1;
        margin-left: 60px;
        margin-top: 0;
    }
}

#artwork {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 4px;
    overflow: hidden;
    flex-shrink: 0;
    max-width: 400px;
    width: 100%;
}

#controls-container {
    margin-top: 30px;
    max-width: 600px;
}

#title {
    margin: 30px 0 0 0;
    text-align: center;
    opacity: 0.8;
}

#progress-bar-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

#elapsed-time, #total-time {
    width: 46px;
    font-size: 14px;
    opacity: 0.7;
}

#total-time {
    text-align: right;
}

#progress-bar {
    flex: 1;
    height: 8px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 12px;
}

#progress {
    height: 100%;
    width: 0;
}

#controls {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls-button {
    border: none;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    opacity: 0.8;
}

.controls-button:hover {
    background: #333;
}

.controls-button:active {
    background: #555;
}

.controls-icon {
    color: #fff;
}

#play-button {
    width: 72px;
    height: 72px;
    margin: 0 24px;
}

#play-button .controls-icon {
    font-size: 48px;
}

#play-button .controls-icon[name="play"] {
    margin-left: 14%;
}

#play-button .controls-icon[name="pause"] {
    display: none;
}

#prev-button, #next-button {
    width: 56px;
    height: 56px;
}

#prev-button .controls-icon, #next-button .controls-icon {
    font-size: 32px;
}

#prev-button .controls-icon {
    margin-right: 10%;
}

#next-button .controls-icon {
    margin-left: 10%;
}
