body {
    box-sizing: border-box;
    margin: 0px;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    flex-direction: column;
}

@media (min-width: 1000px) {
    body {
        flex-direction: row;
    }

    #info-container {
        margin-left: 60px;
        margin-top: 0;
    }
}

#artwork-container {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    font-size: 0;
    border-radius: 4px;
    overflow: hidden;
    flex-shrink: 0;
}

#artwork-container img {
    width: 400px;
}

#info-container {
    margin-top: 30px;
}
